# OS files
.DS_Store
Thumbs.db

# IDes and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / build files
dist/
build/
out/
.cache/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
